body {
    font-family: 'Press Start 2P', cursive;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1280px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.bg-image {
    background-image: url("../images/back.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

.header {
    /* padding-top: 250px;
    padding-bottom: 350px; */
    text-align: center;
    padding-top: 150px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}

.nav__links {
    padding-left: 140px;
}

.nav__items:hover {
    color: #FFEFD0;
    transition: 0.3s;
}

.team__header-title {
    margin-left: 80px;
    cursor: default;
}

.nav__social {
    display: flex;
    margin-right: 18px;
}

.header__twitter {
    margin-right: 50px;
}

.head-dis :hover {
    fill: #FFEFD0;
    transition: 0.3s;
}

.head-twi :hover {
    fill: #FFEFD0;
    transition: 0.3s;
}

.header__title {
    font-style: normal;
    font-weight: normal;
    font-size: 96px;
    line-height: 96px;
    color: #fff;
    text-align: center;
    text-shadow: 5px 5px #000000;
}

.team__header-title {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    color: #FFFFFF;
}

.nav__items {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    margin-right: 100px;
}

.nav__items:last-child {
    margin-right: 0;
}

.ticker {
    padding-top: 211px;
}

.carousel {
    display: flex;
    flex-direction: row;
}

.lore {
    padding-top: 259px;
}

.frag__image {
    width: auto;
    max-height: 100%;
}

.frag__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 110px;
}

.frag__wrapper:last-child {
    margin-bottom: 0;
}

.frag__image-wrapper {
    height: fit-content;
    margin-right: 46px;
}

.fragment1__card {
    margin-right: 136px;
    background: #BBDEFF;
    box-shadow: 10px 10px 0px #000000;
    padding: 0 40px 0 40px;
}

.fragment1__wrapper {
    margin-left: 85px;
}

.fragment2__wrapper {}

.fragment3__wrapper {}

.fragment2__card {
    background: #C7FFD0;
    box-shadow: 10px 10px 0px #000000;
    padding: 0 40px 0 40px;
}

.fragment2__image-wrapper {
    margin-right: 136px;
}

.fragment3__card {
    margin-right: 136px;
    background: #FFEFD0;
    box-shadow: 10px 10px 0px #000000;
    padding: 0 40px 0 40px;
}

.fragment__card-title {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
}

.fragment__card-text {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

.one-banner {
    margin-top: 240px;
    display: flex;
    background-color: #E8BEFF;
    box-shadow: 10px 10px 0px #000000;
    padding: 30px 50px 84px 40px;
}

.banner__image {
    padding: 58px 0 0 84px;
}

.banner__tytle {
    font-family: Press Start 2P;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 36px;
    color: #000000;
}

.banner__text {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    color: #000000;
}

.roadmap {
    padding-top: 240px;
}

.raodmap__title {
    font-family: Press Start 2P;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 72px;
    color: #FFFFFF;
    text-align: center;
    text-shadow: 5px 5px #000000;
}

.roadmap__list {
    display: flex;
    flex-direction: column;
    margin-left: 150px;
}

.roadmap__list-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

.roadmap__list-item:last-child {
    margin-bottom: 0;
}

.roadmap__list-item-percent {
    font-family: Press Start 2P;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    color: #FFEFD0;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-right: 50px;
}

.roadmap__list-item-percent:last-child {
    padding-right: 0px;
}

.roadmap__list-item-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    flex-direction: row;
    /* margin-left: 50px; */
}

/* .roadmap__list-item-text:last-child {
    padding-left: 30px;
} */

.team {
    padding-top: 240px;
}

.team__list {
    display: flex;
    margin-top: 120px;
}

.team__list-item {
    margin-right: 50px;
}

.team__list-item:last-child {
    margin-right: 0;
}

.team__title {
    font-family: Press Start 2P;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 72px;
    color: #FFFFFF;
    text-align: left;
    margin-left: 300px;
    text-shadow: 5px 5px #000000;
}

.team__list-item-position {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
    text-align: center;
}

.team__list-item-name {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    text-align: center;
}

.footer {
    margin-top: 130px;
}

.footer__socials {
    display: flex;
    justify-content: center;
}

.foot-dis :hover {
    path: white;
}

.footer__twitter {
    margin-right: 40px;
}

.footer__title {
    font-family: Press Start 2P;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    color: #FFFFFF;
    padding-top: 20px;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 7));
    }
}

.ticker {
    margin: auto;
    overflow: hidden;
    position: relative;
}

.ticker::before,
.ticker::after {
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
}

.ticker::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.ticker::before {
    left: 0;
    top: 0;
}

.ticker .carousel {
    animation: scroll 20s linear infinite;
    display: flex;
    width: calc(250px * 14);
}

.ticker .ticker-шеуь {
    height: 100px;
    width: 250px;
}